.card-img, .card-title {
    margin-bottom: 5vh;
}

.service-card-btn {
    position: absolute;
    right: 4vw;
    bottom: 5vh;
    width: 8vw;
}

.service-description {
    padding: 0 1.5em;
    font-size: 0.9em;
    color: #42495B;
}