#nav-bar {
    position: absolute;
    top: 5vh;
    right: 25vw;

    margin: 0;
    padding: 0;
    padding-inline-start: 0;

    width: 25vw;
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;
}

.link {
    font: normal 1em;
}