@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --title-color: #42495B;
    --purple: #7E76F9;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.page {
    width: 100vw;
    height: 100vh;
}

.main-page-title {
    font-size: 2em;
    color: var(--title-color);
    font-weight: 600;
}

.subtitle {
    color: var(--purple);
}

.light-paragraph {
    color: #7A839E;
}

/* Card style */
.cards-conteiner {
    margin: 10vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    position: relative;
    margin: auto;
    margin-bottom: 20vh;
    
    width: 23vw;
    height: 72vh;
    padding: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 2em;
    box-shadow: 1px 5px 10px #e9e9e9;
}

.card-title {
    font-size: 1.2em;
    color: var(--title-color);
}

/* End of card style*/