#contact-page {
    position: relative;

    padding-top: 20vh;
    text-align: center;
}

.contact-page-title {
    font-weight: normal;
    color: var(--title-color);
}

.special-news {
    margin-left: 0.2em;
    font-size: 1.2em;
}

#email-input {
    margin-right: 2vw;
    
    width: 30vw;
    height: 1vh;
    padding: 1.5em;

    border: none;
    background-color: #F6F7FB;
    border-radius: 5px;
}

#email-input::placeholder{
    color: #c7c5c5;
} 

.subscribe-btn {
    width: 10vw;
}