#contact-page {
    position: relative;

    padding-top: 20vh;
    text-align: center;
}

.contact-page-title {
    font-weight: normal;
    color: var(--title-color);
}

#contact-page span {
    margin-left: 0.2em;
    font-size: 1.2em;
}

#email-input {
    margin-right: 2vw;

    width: 25vw;
    padding: 0.8em;

    border: none;
    background-color: #F6F7FB;
}

.subscribe-btn {
    width: 10vw;
}
