#footer-content {
    position: absolute;
    bottom: 0;

    width: 100vw;
    height: 80vh;
    padding: 0;

    display: flex;
    justify-content: space-evenly;

    background: url("../../img/bg/bg-footer.svg"); 
    background-repeat: no-repeat;
    background-size: cover;
}

#footer-logo {
    margin: 38vh 0 6vh 0;
    font-size: 1.8em;
}

#stay-in-touch-title {
    margin-bottom: 4vh;

    font-weight: 500;
    font-size: 1.5em;
}

.footer-social-icons {
    flex-direction: row;
    justify-content: space-between;

    width: 15vw;
}

.footer-social-icons .instagram {
    padding: 0.2em;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.footer-section-title {
    margin-top: 38vh;
    margin-bottom: 5vh;
    font-weight: 500;
    font-size: 1.2em;
    text-align: left;
}

#footer-content li {
    margin-bottom: 2vh;

    text-align: left;
    font-size: 0.9rem;
}

#hours-info {
    width: 13vw;
    display: flex;
    justify-content: space-between;
}

#contact-info {
    width: 10.5vw;
    display: flex;
    justify-content: space-between;
}

.location-item {
    margin-top: 8vh;
}