#home-content {
    z-index: 0;
    padding: 0 5em;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.home-social-icons {
    position: absolute;
    bottom: 20vh;

    height: 30vh;
    width: 2vw;
}

#img-content, #description {
    margin-top: 10vh;
}

#description {
    width: 40vw;
}

.word-break {
    margin-top: 2vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
}

#home-img {
    width: 30vw;
    margin-right: 2em;
}
