#home-page {
    display: flex;
    justify-content: space-between;

    background: linear-gradient(to bottom left, #9992fa 20%, #ffffff 100%);}

#home-logo {
    position: absolute;
    left: 5em;
    top: 2em;

    font-size: 1.3em;
    font-weight: 600;

    color: var(--title-color);
}