#home-page {
    display: flex;
    justify-content: space-between;

    background-image: url("../../img/bg/bg-home.svg");
    background-repeat: no-repeat;

    background-position: top right;
    background-size: 55% 100%;
}

#home-logo {
    position: absolute;
    left: 5em;
    top: 2em;

    font-size: 1.3em;
    font-weight: 600;

    color: var(--title-color);
}